.bg {
  min-height: 100%;
  min-width:1024px;

  width: 100%;
  height: auto;

  top: 0;
  left: 0;
  z-index: -1;
}

.intro-container {
  position: relative;
  text-align: center;
  color: white;
}

.intro-content {
  position: absolute;
  top: 20%;
  left: 70%;
  transform: translate(-50%, -50%);
}
